/* Root */
:root {
    --color-negro: #000;
    --color-blanco: #fff;
    --color-rojo: #FF1D1D;
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.huno {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 2.5rem;

    color: var(--color-blanco);
}

.hdos {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 2.25rem;

    color: var(--color-blanco);
}

.htres {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;

    color: var(--color-blanco);
}

.hcuatro {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;

    color: var(--color-blanco);
}

.parrafo {
    font-family: "Montaga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;

    color: white;
}

.link {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-size: 1.125rem;

    color: var(--color-blanco);
    cursor: pointer;
}

body {
    background-color: var(--color-negro);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    max-width: 1400px;
    margin: 0 auto;
    padding: .5em;
}

.header__logo, .footer__container__logo {
    width: 120px;
}

.header__menu__ul {
    display: flex;
    gap: 1em;
}

.header__socialmedia {
    display: flex;
    gap: .5em;
}

.header__hamburguesa {
    display: none;
}

/* Media query para el menu hamburguesa de tablet y mobile */
@media (max-width: 720px) {
    .header__menu {
        display: none;
    }
    .header__socialmedia {
        display: none;
    }

    .header__hamburguesa {
        display: flex;
    }
}

/* Popup con el menu para responsive */
.overlay {
    display: flex;
    justify-content: end;

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;

    background-color: rgba(255, 255, 255, 0.5);
}

.overlay__popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    position: relative;

    background-color: var(--color-negro);
    width: 50vw;
    height: 50vh;
}

.overlay__popup__nav__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.overlay__popup__nav__ul__li:hover {
    transform: scale(1.5)
}

.overlay__popup__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
}

.overlay__popup__socialmedia {
    display: flex;
    gap: .3em;
}

.ocultar {
    display: none;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    gap: 1em;

    max-width: 1400px;
    margin: 0 auto;
    padding: .5em;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.footer__container__content {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    gap: .5em;

    min-width: 250px;
}